<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bendemic90's Portfolio</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
  <section class="hero">
  <div class="hero-body">
    <img src="/img/portfolio-anim.gif" alt="Banner">
    <p class="title">
      Bendemic90
    </p>
    <p class="subtitle">
      Portfolio Page
    </p>
  </div>
</section>

<main>
    {{{ body }}}
</main>
</div>
</body>
</html>